<div>
    <div style="width:50px; background-color:Highlight;">&nbsp;</div>
    <div style="">
        <div>
            <img src="~/images/032-doctor.png" class="float-left" style="width:60px; height:70px;" alt="Patient profile" />
            <div class="float-right">
                <h5>Shawkat Osman</h5>
                <p>ID: 123456789</p>
            </div>
        </div>
        <div id="SideMenu">
            <ul class="list-group">
                <li class="list-group-item">Overview</li>
                <li class="list-group-item">History</li>
                <li class="list-group-item">Medication</li>
                <li class="list-group-item">Allergies</li>
                <li class="list-group-item">Results</li>
                <li class="list-group-item">Vaccines</li>
                <li class="list-group-item">Messages</li>
                <li class="list-group-item">Files</li>
            </ul>
        </div>
    </div>
</div>