<div class="tab-pane" id="tab-feeds" role="tabpanel">
    <div class="custom-scroll h-100">
        <ul class="notification">
            <li class="unread">
                <div class="d-flex align-items-center show-child-on-hover">
                    <span class="d-flex flex-column flex-1">
                        <span class="name d-flex align-items-center">Administrator <span class="badge badge-success fw-n ml-1">UPDATE</span></span>
                        <span class="msg-a fs-sm">
                            System updated to version <strong>4.5.1</strong> <a href="docs_buildnotes.html">(patch notes)</a>
                        </span>
                        <span class="fs-nano text-muted mt-1">5 mins ago</span>
                    </span>
                    <div class="show-on-hover-parent position-absolute pos-right pos-bottom p-3">
                        <a href="#" class="text-muted" title="delete"><i class="fal fa-trash-alt"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center show-child-on-hover">
                    <div class="d-flex flex-column flex-1">
                        <span class="name">
                            Adison Lee <span class="fw-300 d-inline">replied to your video <a href="#" class="fw-400"> Cancer Drug</a> </span>
                        </span>
                        <span class="msg-a fs-sm mt-2">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day...</span>
                        <span class="fs-nano text-muted mt-1">10 minutes ago</span>
                    </div>
                    <div class="show-on-hover-parent position-absolute pos-right pos-bottom p-3">
                        <a href="#" class="text-muted" title="delete"><i class="fal fa-trash-alt"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center show-child-on-hover">
                    <!--<img src="img/demo/avatars/avatar-m.png" data-src="img/demo/avatars/avatar-k.png" class="profile-image rounded-circle" alt="k" />-->
                    <div class="d-flex flex-column flex-1">
                        <span class="name">
                            Troy Norman'<span class="fw-300">s new connections</span>
                        </span>
                        <div class="fs-sm d-flex align-items-center mt-2">
                            <span class="profile-image-md mr-1 rounded-circle d-inline-block" style="background-image:url('img/demo/avatars/avatar-a.png'); background-size: cover;"></span>
                            <span class="profile-image-md mr-1 rounded-circle d-inline-block" style="background-image:url('img/demo/avatars/avatar-b.png'); background-size: cover;"></span>
                            <span class="profile-image-md mr-1 rounded-circle d-inline-block" style="background-image:url('img/demo/avatars/avatar-c.png'); background-size: cover;"></span>
                            <span class="profile-image-md mr-1 rounded-circle d-inline-block" style="background-image:url('img/demo/avatars/avatar-e.png'); background-size: cover;"></span>
                            <div data-hasmore="+3" class="rounded-circle profile-image-md mr-1">
                                <span class="profile-image-md mr-1 rounded-circle d-inline-block" style="background-image:url('img/demo/avatars/avatar-h.png'); background-size: cover;"></span>
                            </div>
                        </div>
                        <span class="fs-nano text-muted mt-1">55 minutes ago</span>
                    </div>
                    <div class="show-on-hover-parent position-absolute pos-right pos-bottom p-3">
                        <a href="#" class="text-muted" title="delete"><i class="fal fa-trash-alt"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center show-child-on-hover">
                    <!--<img src="img/demo/avatars/avatar-m.png" data-src="img/demo/avatars/avatar-e.png" class="profile-image-sm rounded-circle align-self-start mt-1" alt="k" />-->
                    <div class="d-flex flex-column flex-1">
                        <span class="name">Dr John Cook <span class="fw-300">sent a <span class="text-danger">new signal</span></span></span>
                        <span class="msg-a fs-sm mt-2">Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</span>
                        <span class="fs-nano text-muted mt-1">10 minutes ago</span>
                    </div>
                    <div class="show-on-hover-parent position-absolute pos-right pos-bottom p-3">
                        <a href="#" class="text-muted" title="delete"><i class="fal fa-trash-alt"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center show-child-on-hover">
                    <div class="d-flex flex-column flex-1">
                        <span class="name">Lab Images <span class="fw-300">were updated!</span></span>
                        <div class="fs-sm d-flex align-items-center mt-1">
                            <a href="#" class="mr-1 mt-1" title="Cell A-0012">
                                <span class="d-block img-share" style="background-image:url('img/thumbs/pic-7.png'); background-size: cover;"></span>
                            </a>
                            <a href="#" class="mr-1 mt-1" title="Patient A-473 saliva">
                                <span class="d-block img-share" style="background-image:url('img/thumbs/pic-8.png'); background-size: cover;"></span>
                            </a>
                            <a href="#" class="mr-1 mt-1" title="Patient A-473 blood cells">
                                <span class="d-block img-share" style="background-image:url('img/thumbs/pic-11.png'); background-size: cover;"></span>
                            </a>
                            <a href="#" class="mr-1 mt-1" title="Patient A-473 Membrane O.C">
                                <span class="d-block img-share" style="background-image:url('img/thumbs/pic-12.png'); background-size: cover;"></span>
                            </a>
                        </div>
                        <span class="fs-nano text-muted mt-1">55 minutes ago</span>
                    </div>
                    <div class="show-on-hover-parent position-absolute pos-right pos-bottom p-3">
                        <a href="#" class="text-muted" title="delete"><i class="fal fa-trash-alt"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center show-child-on-hover">
                    <!--<img src="img/demo/avatars/avatar-m.png" data-src="img/demo/avatars/avatar-h.png" class="profile-image rounded-circle align-self-start mt-1" alt="k" />-->
                    <div class="d-flex flex-column flex-1">
                        <div class="name mb-2">
                            Lisa Lamar<span class="fw-300"> updated project</span>
                        </div>
                        <div class="row fs-b fw-300">
                            <div class="col text-left">
                                Progress
                            </div>
                            <div class="col text-right fw-500">
                                45%
                            </div>
                        </div>
                        <div class="progress progress-sm d-flex mt-1">
                            <span class="progress-bar bg-primary-500 progress-bar-striped" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></span>
                        </div>
                        <span class="fs-nano text-muted mt-1">2 hrs ago</span>
                        <div class="show-on-hover-parent position-absolute pos-right pos-bottom p-3">
                            <a href="#" class="text-muted" title="delete"><i class="fal fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>