@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>Doctors / Hospitals / and patient themselves can view Profile</p>
@{
    await Html.RenderPartialAsync("Patient/_patientProfileSummary");
}

<img class="img-fluid" style="width: 95%; height:95%;" src="~/images/patient-overview.png" alt="Patient profile" />