<div id="PrescriptionPreview" class="col-12">
    <hr />
    <div id="Header" class="text-center">
        <h1>ABC Hospital</h1>
        <h4>123 High Road, Chittagong</h4>

        <hr />
    </div>
    <div id="DoctorSummary">
        <h5>Dr Sheikh Hasina</h5>
        <div>ABCD, EFGH (UK)</div>
        <div>Govt reg number: 123456</div>
    </div>

    <div id="PatientSummary" class="row mt-3">
        <div class="col-sm-4 col-xs-8">Name: Moynar Baap</div>
        <div class="col-sm-2 col-xs-4">Age: 80</div>
        <div class="col-sm-3 col-xs-6">Date of Birth: 01/01/1940</div>
        <div class="col-sm-3 col-xs-6">Gender: Male</div>
    </div>

    <div id="MedicineSummary" class="mt-5 mb-5">
        <table class="table table-responsive-sm">
            <tr>
                <th>Sr no</th>
                <th>Method</th>
                <th>Medicine</th>
                <th>Duration</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Tablet</td>
                <td>
                    <div class="medicine-name">Vitamin C - 1000mg</div>
                    <div class="direction font-italic">Twice a day, after meals</div>
                </td>
                <td>21 Days</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Syrup</td>
                <td>
                    <div class="medicine-name">Gaviscon</div>
                    <div class="direction font-italic">Twice a day, after meals</div>
                </td>
                <td>7 Days</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Syrup</td>
                <td>
                    <div class="medicine-name">Dulcolx</div>
                    <div class="direction font-italic">Once a day, before sleep</div>
                </td>
                <td>14 Days</td>
            </tr>
        </table>
    </div>

    <div id="AssessmentSummary" class="row">
        <div class="col-sm-5 col-xs-12">
            <h4>Assessment summary</h4>
            <span>reason for visit: Abdominal pain</span>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h4>Blood pressure</h4>
            <span>80/120, 60</span>
        </div>


    </div>

    <div id="FurtherDiagnostic" class="mt-5">
        <h5>Diagnostic test required</h5>
        <table class="table table-responsive-sm">
            <tr>
                <th>Sr no</th>
                <th>Test Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="test-name">Blood Test</div>
                    <div class="special-instruction font-italic">Himoglobin sample test, empty stomach</div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <div class="test-name">Chest X-ray</div>
                    <div class="special-instruction font-italic">TB-Test</div>
                </td>
            </tr>
        </table>
    </div>
</div>