@*@model Pas.Web.ViewModels.PrescriptionCreateInitialVM*@

@{
    Layout = "/Views/Shared/_LayoutDoctor.cshtml";
    ViewData["Title"] = "Doctor Dashboard";
}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Dashboard
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-xs-12 col-sm-6 card p-3">
                        <h5 class="card-title">Last 7 Days</h5>
                        <img src="~/images/sample-chart-01.png" alt="sample chart" style="width:500px;"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 card p-3">
                        <h5 class="card-title">Right column</h5>
                        <img src="~/images/sample-chart-02.png" alt="sample chart" style="width:500px;" />
                    </div>
                    <div>
                        <h4>New visitors: 40. Repeat visitors: 10</h4>
                    </div>
                    https://docs.microsoft.com/en-us/aspnet/web-pages/overview/data/7-displaying-data-in-a-chart
                </div>
            </div>
        </div>
    </div>


@*<nav class="mt-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-prescription-tab" data-toggle="tab" href="#nav-prescription" role="tab" aria-controls="nav-prescription" aria-selected="true">Prescription</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        </div>*@

@* Prescription History *@
<div class="col-8">
    <div id="PrescriptionHistoryDiv" class="card mt-3">
        <div class="card-header">
            Prescription History
        </div>
        <div class="card-body">
            <div class="">
                <table id="PrescriptionHistoryTable"
                       class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Bangla Name</th>
                            <th>Mobile</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Last Visit</th>
                            <th></th>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>Shawkat Osman</td>
                            <td>শওকত ওসমান </td>
                            <td>0156-456789123</td>
                            <td>65</td>
                            <td>Male</td>
                            <td>01 Mar 2020</td>
                            <td>

                                <a class="btn btn-general btn-primary create-new-prescription-button"
                                   role="button"
                                   asp-area="Doctor"
                                   asp-controller="Home"
                                   asp-action="ViewPatient"
                                   asp-route-id="1"
                                   data-patient-id="1"
                                   data-toggle="tooltip" data-placement="right" title="View">
                                    <i class="fa fa-id-card fa-lg" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    @*<script src="~/js/customerDatatable.js"></script>*@
    @*<script src="~/js/patient/search-result-table.js"></script>*@
}