@model Pas.Web.ViewModels.PrescriptionCreateInitialVM

@{
    ViewData["Title"] = "SearchPatient";
}

    <div class="tab-pane fade show active p-2" id="nav-prescription" role="tabpanel" aria-labelledby="nav-prescription-tab">

        <div class="card">
            <h5 class="card-header">
                Search a Patient
            </h5>
            <div id="PatientSearchInputContainer" class="card-body">
                @await Html.PartialAsync("_patientSearchOption")
            </div>
        </div>

        <div id="RegularPatientDiv" class="bg-white mt-3 p-3">
            <h5>Recent visitors</h5>
            @await Html.PartialAsync("_patientSearchResult", Model.RegularPatients)
        </div>

        <form id="StartNewPrescriptionForm" action="/" method="post">
            <div id="PatientSearchResultWrapper" class="bg-white mt-3 p-3 d-none">
                <h5>Matching records</h5>
                <div id="PatientSearchResultContainer">

                </div>
                @*@await Html.PartialAsync("_patientSearchResult")*@
            </div>

        </form>

    </div>


@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customerDatatable.js"></script>
    <script src="~/js/patient/search-result-table.js"></script>
}