
@{
    ViewData["Title"] = "Patient Profile";
}
    <ol class="breadcrumb bg-primary-300">
        <li class="breadcrumb-item">
            <a href="#" class="text-white">
                <i class="fal fa-home mr-1"></i> Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#" class="text-white">Library</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#" class="text-white">Web</a>
        </li>
        <li class="breadcrumb-item active text-white">Data</li>
    </ol>

    <div class="card">
        <div class="card-header">
            Patient Profile
        </div>
        <div class="card-body">
            @*asp-action="StartNewPrescription" asp-controller="Home" asp-area="Doctor"*@

            @await Html.PartialAsync("_patientProfile")

        </div>
    </div>


