
@{
    ViewData["Title"] = "Patient Profile";
}

    <div class="card">
        <div class="card-header">
            Patient Profile
        </div>
        <div class="card-body">
            @*asp-action="StartNewPrescription" asp-controller="Home" asp-area="Doctor"*@

            @await Html.PartialAsync("_patientProfile")

        </div>
    </div>


