
@{
    ViewData["Title"] = "Index";
}

<h1>Configure Lookup Values</h1>

<ul>
    <li>Drugs</li>

    <li>Drug Categories</li>

    <li>Dosage + DrugDosage</li>

    <li>Mode of Delivery + DrugModeOfDelivery</li>

    <li>Indications</li>

    <li>Diagnostic Test</li>
    <li>Doctors</li>
    <li>Doctor Speciality</li>
    <li>Organisation</li>
    <li>Allergy Types</li>
    <li>Checkup Types</li>


</ul>

