@model Pas.Web.ViewModels.UserSwitchRoleViewVM

@{
    ViewData["Title"] = "Role selection";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

    <div class="text-center">

        <div class="form-row">
            <div class="card-deck text-dark">
                <div class="card">
                    <div class="w-100 bg-fusion-50 rounded-top bg-trans-gradient" style="padding:20px 0;">
                        <div class="card-title text-white">Patient</div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Log in as a Patient and view your medical records.</p>
                        <p class="card-text">You can also share your records with 3rd parties in and outside of the country.</p>
                    </div>
                    <div class="card-footer">
                        @*<button type="button" class="btn btn-primary btn-pills waves-effect waves-themed">Select</button>*@
                        <a href="~/Patient/Home" class="btn btn-primary btn-pills waves-effect waves-themed" role="button">Select</a>
                    </div>
                </div>
                @*# Doctor Card *@
                <div class="card">
                    <div class="w-100 bg-fusion-50 rounded-top bg-trans-gradient" style="padding:20px 0;">
                        <div class="card-title text-white">Doctor</div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Log in as a Doctor and see your own profile.</p>
                        @*<p class="card-text"></p>*@
                        <h5 class="card-title">Select a Chamber</h5>
                        <div class="text-left p-2 border-top border-bottom">
                            <div class="custom-control custom-radio pb-2">
                                <input type="radio" class="custom-control-input" id="hospitalOption1" name="hospitalOption">
                                <label class="custom-control-label" for="hospitalOption1">BelleVue Hospital</label>
                            </div>
                            <div class="custom-control custom-radio pb-2">
                                <input type="radio" class="custom-control-input" id="hospitalOption2" name="hospitalOption">
                                <label class="custom-control-label" for="hospitalOption2">Royal Hospital</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="hospitalOption3" name="hospitalOption">
                                <label class="custom-control-label" for="hospitalOption3">Personal Chamber</label>
                            </div>

                        </div>

                        You can search for a patient and view their medical history.
                    </div>
                    <div class="card-footer">
                        @*<button type="button" class="btn btn-primary btn-pills waves-effect waves-themed">Select</button>*@                        
                        <a href="~/Doctor/Home" class="btn btn-primary btn-pills waves-effect waves-themed" role="button">Select</a>
                    </div>
                </div>

                @*# Hospital Card *@
                <div class="card">
                    <div class="w-100 bg-fusion-50 rounded-top bg-trans-gradient" style="padding:20px 0;">
                        <div class="card-title text-white">Hospital</div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Log in as a Hospital director and see the reports.</p>
                        @*<p class="card-text"></p>*@

                        <h5 class="card-title">Select a Hospital</h5>
                        <div class="text-left p-2 border-top border-bottom">
                            <div class="custom-control custom-radio pb-2">
                                <input type="radio" class="custom-control-input" id="directorOption1" name="directorOption">
                                <label class="custom-control-label" for="directorOption1">BelleVue Hospital</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="directorOption2" name="directorOption">
                                <label class="custom-control-label" for="directorOption2">Royal Hospital</label>
                            </div>

                        </div>
                        You can view the daily real-time patients' activities and doctors' calander.
                    </div>
                    <div class="card-footer">
                        @*<button type="button" class="btn btn-primary btn-pills waves-effect waves-themed">Select</button>*@
                        <a href="~/Hospital/Home" class="btn btn-primary btn-pills waves-effect waves-themed" role="button">Select</a>

                    </div>
                </div>

                @*# Technician Card *@
                <div class="card">
                    <div class="w-100 bg-fusion-50 rounded-top bg-trans-gradient" style="padding:20px 0;">
                        <div class="card-title text-white">Technician</div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Log in as a Technician.</p>
                        @*<p class="card-text"></p>*@

                        <h5 class="card-title">Select a Hospital</h5>
                        <div class="text-left p-2 border-top border-bottom">
                            <div class="custom-control custom-radio pb-2">
                                <input type="radio" class="custom-control-input" id="technicianOption1" name="technicianOption">
                                <label class="custom-control-label" for="technicianOption1">BelleVue Hospital</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="technicianOption2" name="technicianOption">
                                <label class="custom-control-label" for="technicianOption2">Royal Hospital</label>
                            </div>
                        </div>

                        You can do data entry for Clinical information and register a new Patient in the system.
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-pills waves-effect waves-themed">Select</button>
                    </div>
                </div>
            </div>
        
        </div>
        

        @* Log in as Options *@
        <div class="mt-3">
            <form action="/" method="post">

                <input type="hidden" asp-for="UserId" />
                <input type="hidden" name="RoleId" />
                <input type="hidden" name="OrganisationId" />

                @* Notes: these should be buttons to go on POST and set the Claim() to be a Patient/Doctor/Director *@
                <a class="btn btn-outline-primary" asp-area="Patient" asp-controller="Home" asp-action="Index" role="button">
                    <img src="~/images/button-icons/patient-01.jfif" alt="Login as Patient" style="width: 100px; height:100px;" />
                    <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="RolePatientOption" name="RoleId" class="custom-control-input">
                        <label class="custom-control-label" for="RolePatientOption">Patient</label>
                    </div>
                </a>
                <a class="btn btn-outline-success ml-3" asp-area="Doctor" asp-controller="Home" asp-action="Index" role="button">
                    <img src="~/images/button-icons/doctor.jfif" alt="Login as Doctor" style="width: 100px; height:100px;" />
                    <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="RoleDoctorOption" name="RoleId" class="custom-control-input">
                        <label class="custom-control-label" for="RoleDoctorOption">Doctor</label>
                    </div>

                </a>
                <a class="btn btn-outline-info ml-3" asp-area="Hospital" asp-controller="Home" asp-action="Index" role="button">
                    <img src="~/images/button-icons/hospital-02.png" alt="Login as Hospital" style="width: 100px; height:100px;" /><br />
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="RoleHospitalOption" name="RoleId" class="custom-control-input">
                        <label class="custom-control-label" for="RoleHospitalOption">Hospital</label>
                    </div>

                </a>
            </form>
        </div>

    </div>


