@model Pas.Web.ViewModels.UserSwitchRoleSelection

@{
    ViewData["Title"] = "Role selection";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="text-center">

    <h5>Please select your role</h5>

    @* Log in as Options *@
    <div class="mt-3">
        <form action="/" method="post">

            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="RoleId" />
            <input type="hidden" asp-for="OrganisationId" />

            @* Notes: these should be buttons to go on POST and set the Claim() to be a Patient/Doctor/Director *@
            <a class="btn btn-outline-primary" asp-area="Patient" asp-controller="Home" asp-action="Index" role="button">
                <img src="~/images/button-icons/patient-01.jfif" alt="Login as Patient" style="width: 100px; height:100px;" />
                <br />
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="RolePatientOption" name="RoleId" class="custom-control-input">
                    <label class="custom-control-label" for="RolePatientOption">Patient</label>
                </div>
            </a>
            <a class="btn btn-outline-success ml-3" asp-area="Doctor" asp-controller="Home" asp-action="Index" role="button">
                <img src="~/images/button-icons/doctor.jfif" alt="Login as Doctor" style="width: 100px; height:100px;" />
                <br />
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="RoleDoctorOption" name="RoleId" class="custom-control-input">
                    <label class="custom-control-label" for="RoleDoctorOption">Doctor</label>
                </div>
                
            </a>
            <a class="btn btn-outline-info ml-3" asp-area="Hospital" asp-controller="Home" asp-action="Index" role="button">
                <img src="~/images/button-icons/hospital-02.png" alt="Login as Hospital" style="width: 100px; height:100px;" /><br />
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="RoleHospitalOption" name="RoleId" class="custom-control-input">
                    <label class="custom-control-label" for="RoleHospitalOption">Hospital</label>
                </div>
                
            </a>
            
            <button id="SubmitButton" class="btn btn-primary" type="submit">Submit form</button>
            
        </form>
    </div>

</div>


