
@{
    ViewData["Title"] = "Index";
}

<h1>View a Prescription</h1>

<form id="PrescriptionSearchForm">
    <div class="form-group">
        <label for="formGroupExampleInput">Mobile Number</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="01x-xxx-xxx-xxx">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Sheba Id</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="123456">
    </div>

    <button type="button" id="SearchButton" value="Find">Find</button>
</form>

<div id="PrescriptionView" class="invisible">
    <h2>Prescription Sample</h2>
    @{
        await Html.RenderPartialAsync("_prescription");
    }

</div>

@section scripts
{
    <script src="~/js/prescription/search.js"></script>
}


