<div class="card">
    <div class="card-body">
            <div col-12>
                Name : Shawkat Osman<br />শওকত ওসমান 
            </div>
        <div class="form-row">
            <div class="col-3">
                Age: 25
            </div>
            <div class="col-3">
                Date of Birth: 01 Jan 1995
            </div>
            <div class="col-3">
                Gender: Male
            </div>
        </div>
        <div class="form-row">
            <div class="col-9">
                Address: 1069/A jang Shah Majer Lane, Badurtola, Chittagong-4212
            </div>
            <div class="col-3">
                Mobile: 01598-456-333
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                Blood group: O+
            </div>
            <div class="col">
                Mobile: 01598-456-333
            </div>
            <div class="col">
                Height: 5' 10"
            </div>
            <div class="col">
                Weight: 72 KG
            </div>

            <div class="col">
                Smoker: No
            </div>

            <div class="col">
                Drinker: No
            </div>


        </div>

    </div>
</div>