<!-- _PatientPrescriptionNotes.cshtml -->

<div class="card m-auto border">
    <div class="card-header">
        Notes
    </div>
    <div class="card-body">

        <p class="card-text">
            Dr Salah Uddin, 1 Mar 2020<br />
            Paient has a family history of Heart disease. Both parents had high blood pressure.
        </p>
        <a href="#" class="btn btn-primary waves-effect waves-themed">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add
        </a>
    </div>
    <div class="card-footer text-muted py-2">
        2 days ago
    </div>
</div>