<!-- _PatientSummaryMedicalInfo.cshtml -->
<div class="form-row col-12">
    @* Card: Life style / Personal History *@
    <div class="col-xs-12 col-lg-6 ">
        <div id="PersonalHistoryDiv" class="card">
            <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
                <!-- we wrap header title inside a span tag with utility padding -->
                <div class="card-title text-white"></div>
            </div>
            <div class="card-body">
                <h5 class="card-title h6">
                    <i class="fas fa-notes-medical fa-lg mr-2"></i>                
                    Personal History
                </h5>
                <div id="PersonalHistoryDetailsDiv" class="">
                    <div class="row">
                        <div class="col-4 font-weight-bold">Blood group</div>
                        <div class="col-8">: O+</div>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold">Age</div>
                        <div class="col-8">: 25 Years</div>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold">Smoker</div>
                        <div class="col-8">: 20 a day</div>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold">Drinker</div>
                        <div class="col-8">: No</div>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold">Excercise</div>
                        <div class="col-8">: Occassionaly</div>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold">Sports</div>
                        <div class="col-8">: Badminton</div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 21 days ago</small>
                <a href="#" class="btn btn-primary btn-lg btn-icon waves-effect waves-themed float-right" role="button">
                    <i class="fal fa-edit"></i>
                </a>
            </div>
        </div>
    </div>

    @* Card: Key information *@
<div class="col-xs-12 col-lg-6 ">
    <div id="KeyInformationDiv" class="card">
        <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
            <!-- we wrap header title inside a span tag with utility padding -->
            <div class="card-title text-white"></div>
        </div>
        <div class="card-body">
            <h5 class="card-title h6">
                <i class="fas fa-comment-medical fa-lg mr-2"></i>                
                Clinical information
            </h5>
            <div id="ClinicalInformationDetailsDiv">
                <div class="row">
                    <div class="col-4 font-weight-bold">Height</div>
                    <div class="col-8">: 1.78 m / 5" 10'</div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">Weight</div>
                    <div class="col-8">: 158 lbs / 72 kgs</div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">BMI</div>
                    <div class="col-8">: 22</div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">Heartbeat</div>
                    <div class="col-8">: 80/120</div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">Pulse</div>
                    <div class="col-8">: 70</div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">Colesterol</div>
                    <div class="col-8">: na</div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">Diabetes</div>
                    <div class="col-8">: 6.5 (10/09/2020)</div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 7 days ago</small>
            <a href="#" class="btn btn-primary btn-lg btn-icon waves-effect waves-themed float-right" role="button">
                <i class="fal fa-edit"></i>
            </a>
        </div>
    </div>
</div>

</div>

<div class="form-row col-12 mt-2">
    @* Card: Allergy History *@
    <div class="col-xs-12 col-lg-6 ">
            <div id="AllergyHistoryDiv" class="card">
                <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
                    <!-- we wrap header title inside a span tag with utility padding -->
                </div>
                <div class="card-body">
                    <h5 class="card-title h6">
                        <i class="fas fa-allergies fa-lg mr-2"></i>
                        Allergy History
                        <a href="#" class="btn btn-primary btn-lg btn-icon waves-effect waves-themed float-right" role="button">
                            <i class="fal fa-edit"></i>
                        </a>
                    </h5>
                    <blockquote class="blockquote mb-0">
                        <p>Anti-biotics, nuts, eggs, cat</p>
                    </blockquote>
                    <p>&nbsp;</p>

                    <h5 class="card-title h6">
                        <i class="fas fa-procedures fa-lg mr-2"></i>
                        Ailment History
                    </h5>

                    <strong></strong>
                    <blockquote class="blockquote mb-0">
                        <p>Allergy, Diabetes, Hayfever, High Pressure</p>
                    </blockquote>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 21 days ago</small>
                </div>
            </div>
    </div>

    @* Card: Recent Medication *@
    <div class="col-xs-12 col-lg-6">
        <div id="RecentMedicationDiv" class="card">
            <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
                <!-- we wrap header title inside a span tag with utility padding -->
            </div>
            <div class="card-body">
                <h5 class="card-title h6">
                    <i class="fas fa-prescription fa-lg mr-2"></i>
                    Recent Medication
                    <a href="#" class="btn btn-primary btn-lg btn-icon waves-effect waves-themed float-right" role="button">
                        <i class="fal fa-edit"></i>
                    </a>
                </h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="fas fa-pills fa-lg mr-2"></i>
                        Paracetemol 1000mg
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-pills fa-lg mr-2"></i>
                        Loratidine 10mg
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-prescription-bottle-alt fa-lg mr-2"></i>
                        Gaviscon Syrup
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-prescription-bottle-alt fa-lg mr-2"></i>
                        Dulcolux
                    </li>
                </ul>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 21 days ago</small>
            </div>
        </div>
    </div>


</div>
