@model Pas.Web.ViewModels.PatientProfileWrapperVM

@using Microsoft.AspNetCore.Identity

@*@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@

<!-- _patientProfileSummary.cshtml -->
<div id="ProfileMainContainer" class="form-row col-12">
    @*Left Column*@
    <div id="ProfileLeftColumn" class="col-xs-6 col-sm-12  col-lg-3">
        @* Card: Patient Info Card *@
        <partial name="_ProfilePhotoCard.cshtml" model="Model.Patient" />

        @* Card: Contact details *@
        <partial name="_ContantDetailsCard.cshtml" model="Model.Patient.AddressBook" />
    </div>

    @*Right Column*@
<div id="ProfileRightColumn" class="col-md-8 col-lg-9">
    <div class="panel-content">
        <div class="border px-3 pt-3 pb-0 rounded" style="min-height:300px;">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#js_pill_summary">
                    <i class="fal fa-address-card fs-xl mr-1"></i>Summary</a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#js_pill_prescription">
                    <i class="fal fa-file-medical-alt fs-xl mr-1"></i>Prescription</a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#js_pill_lab_results">
                    <i class="fal fa-first-aid fs-xl mr-1"></i>Lab Results</a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#js_pill_notes">
                    <i class="fal fa-comment fs-xl mr-1"></i>Notes</a>
                </li>
            </ul>
            <div class="tab-content py-3">
                @* SummaryTabNavDiv *@
                <div class="tab-pane fade active show" id="js_pill_summary" role="tabpanel">
                    <partial name="_PatientClinicalInfo.cshtml" model="Model.ClinicalInfo" />
                </div>
                @* PrescriptionsTabNavDiv *@
                <div class="tab-pane fade" id="js_pill_prescription" role="tabpanel">
                    <partial name="_PatientPrescriptionList.cshtml" model="Model.PrescriptionList" />
                </div>
                @* Lab Results *@
                <div class="tab-pane fade" id="js_pill_lab_results" role="tabpanel">
                    <partial name="_PatientLabResults.cshtml" />
                </div>
                @* Lab Results *@
                <div class="tab-pane fade" id="js_pill_notes" role="tabpanel">
                    <partial name="_PatientPrescriptionNotes.cshtml" />
                </div>
            </div>
        </div>
    </div>

    <div id="TabbedContainerDiv" class="form-row col-12 d-none" style="min-height:300px;">
        <div class="col-auto">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <i class="fal fa-address-card fs-xl"></i>
                    <span class="hidden-sm-down ml-1"> Summary</span>
                </a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    <i class="fal fa-file-medical-alt fs-xl"></i>
                    <span class="hidden-sm-down ml-1"> Prescription</span>
                </a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                    <i class="fal fa-first-aid fs-xl"></i>
                    <span class="hidden-sm-down ml-1"> Lab Results</span>
                </a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <i class="fa fa-comment fs-xl"></i>
                    <span class="hidden-sm-down ml-1"> Notes</span>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                
                <div class="SummaryTabNavDiv tab-pane fade  active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    

                </div>

                
                <div class="PrescriptionsTabNavDiv tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    

                </div>

                
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h3>
                        Lab Results
                    </h3>
                    
                    <div class="col-12 mt-3">
                        
                    </div>

                </div>

                @* Notes *@
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="col-12 mt-3">
                        
                    </div>

                </div>
            </div>
        </div>
    </div> @*End: TabbedContainerDiv*@

    @* New Prescription *@
<div class="col-12 mt-3">
    <form id="NewPrescriptionForm" asp-area="Doctor" asp-controller="Prescription" asp-action="Create" method="post">
        <input type="hidden" id="Id" name="Id" asp-for="Patient.Id">
        <button id="NewPrescriptionSubmitButton" type="submit"
                class="btn btn-primary btn-mdwaves-effect waves-themed"
                data-toggle="tooltip" data-placement="right" title="Create New Prescription">
            <i class="fas fa-file-prescription mr-2 fa-2x"></i> New Prescription
        </button>
    </form>
</div>


    <div class="form-row">

        <div class="col-12">


            @* Card: Ailment History *@
            <div class="card-deck mt-3 d-none">
                <div class="card">
                    <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
                        <!-- we wrap header title inside a span tag with utility padding -->
                        <div class="card-title text-white"></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Ailment History
                            @*<a href="#" class="btn btn-primary btn-lg btn-icon waves-effect waves-themed float-right" role="button">
                                    <i class="fal fa-edit"></i>
                                </a>*@
                        </h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                High Pressure
                            </li>
                            <li class="list-group-item">
                                Diabetes
                            </li>
                            <li class="list-group-item">
                                Allergy
                            </li>
                            <li class="list-group-item">
                                Hayfever
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 7 days ago</small>
                    </div>
                </div>

                @*Current Medication*@
                <div class="card">
                    <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
                        <!-- we wrap header title inside a span tag with utility padding -->
                        <div class="card-title text-white"></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Current medication
                            @*<a href="#" class="btn btn-primary btn-lg btn-icon waves-effect waves-themed float-right" role="button">
                                    <i class="fal fa-edit"></i>
                                </a>*@
                        </h5>
                        <table id="dt-CurrentMedicationTable" class="table table-hover table-striped w-100 dataTable dtr-inline" role="grid" aria-describedby="dt-basic-example_info">
                            <thead class="d-none">
                                <tr role="row">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row">
                                    <td style="width:50px;"><i class="fal fa-medkit"></i></td>
                                    <td>Loratidine 10 mg</td>
                                    <td>Daily: 1</td>
                                    <td class="text-right">01/05/2020</td>
                                </tr>
                                <tr role="row">
                                    <td style="width:50px;"><i class="fal fa-medkit"></i></td>
                                    <td>Gaviscon</td>
                                    <td>Daily: 3</td>
                                    <td class="text-right">01/05/2020</td>
                                </tr>
                                <tr role="row">
                                    <td style="width:50px;"><i class="fal fa-medkit"></i></td>
                                    <td>Ranitidine 10mg</td>
                                    <td>Daily: 2</td>
                                    <td class="text-right">01/05/2020</td>
                                </tr>
                                <tr role="row">
                                    <td style="width:50px;"><i class="fal fa-medkit"></i></td>
                                    <td>Dulcolox</td>
                                    <td>Daily: 2</td>
                                    <td class="text-right">01/05/2020</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 1 month ago</small>
                    </div>
                </div>

            </div>

        </div>
        @*Notes*@


    </div>
</div>

</div>