<div class="card">
    <div class="card-body">
            <div col-12>
                Name : Shawkat Osman<br />শওকত ওসমান 
            </div>
        <div class="form-row">
            <div class="col-3">
                Age: 25
            </div>
            <div class="col-3">
                Date of Birth: 01 Jan 1995
            </div>
            <div class="col-3">
                Gender: Male
            </div>
        </div>
        <div class="form-row">
            <div class="col-9">
                Address: 1069/A jang Shah Majer Lane, Badurtola, Chittagong-4212
            </div>
            <div class="col-3">
                Mobile: 01598-456-333
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                Blood group: O+
            </div>
            <div class="col">
                Mobile: 01598-456-333
            </div>
            <div class="col">
                Height: 5' 10"
            </div>
            <div class="col">
                Weight: 72 KG
            </div>

            <div class="col">
                Smoker: No
            </div>

            <div class="col">
                Drinker: No
            </div>


        </div>

    </div>
</div>

<div id="panel-11" class="panel">
    <div class="panel-hdr">
        <h2>
            Pill <span class="fw-300"><i>borders &amp; icons</i></span>
        </h2>
        <div class="panel-toolbar">
            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <div class="border px-3 pt-3 pb-0 rounded">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#js_pill_border_icon-1"><i class="fal fa-home mr-1"></i>Home</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-2"><i class="fal fa-user mr-1"></i>Profile</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-3"><i class="fal fa-clock mr-1"></i>Time</a></li>
                </ul>
                <div class="tab-content py-3">
                    <div class="tab-pane fade active show" id="js_pill_border_icon-1" role="tabpanel">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.
                    </div>
                    <div class="tab-pane fade" id="js_pill_border_icon-2" role="tabpanel">
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic.
                    </div>
                    <div class="tab-pane fade" id="js_pill_border_icon-3" role="tabpanel">
                        Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="accordion accordion-outline" id="js_demo_accordion-3">
    <div class="card">
        <div class="card-header">
            <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-3a" aria-expanded="false">
                <i class="fal fa-file-medical-alt width-2 fs-xl"></i>
                Medical Records <span class="badge badge-primary badge-pill">7</span>
                <span class="ml-auto">
                    <span class="collapsed-reveal">
                        <i class="fal fa-minus fs-xl"></i>
                    </span>
                    <span class="collapsed-hidden">
                        <i class="fal fa-plus fs-xl"></i>
                    </span>
                </span>
            </a>
        </div>
        <div id="js_demo_accordion-3a" class="collapse" data-parent="#js_demo_accordion-3" style="">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-3b" aria-expanded="false">
                <i class="fal fa-video width-2 fs-xl"></i>
                Video logs
                <span class="ml-auto">
                    <span class="collapsed-reveal">
                        <i class="fal fa-minus fs-xl"></i>
                    </span>
                    <span class="collapsed-hidden">
                        <i class="fal fa-plus fs-xl"></i>
                    </span>
                </span>
            </a>
        </div>
        <div id="js_demo_accordion-3b" class="collapse" data-parent="#js_demo_accordion-3">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-3c" aria-expanded="false">
                <i class="fal fa-first-aid width-2 fs-xl"></i>
                Medical history <span class="badge badge-primary badge-pill">12</span>
                <span class="ml-auto">
                    <span class="collapsed-reveal">
                        <i class="fal fa-minus fs-xl"></i>
                    </span>
                    <span class="collapsed-hidden">
                        <i class="fal fa-plus fs-xl"></i>
                    </span>
                </span>
            </a>
        </div>
        <div id="js_demo_accordion-3c" class="collapse" data-parent="#js_demo_accordion-3" style="">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>