@model Pas.Web.ViewModels.PatientProfileWrapperVM

@using Microsoft.AspNetCore.Identity

@*@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@

<!-- _patientProfileSummary.cshtml -->
<div id="ProfileMainContainer" class="form-row col-12">
    @*Left Column*@
    <div id="ProfileLeftColumn" class="col-xs-6 col-sm-12  col-lg-2">
        @* Card: Patient Info Card *@
        <partial name="_ProfilePhotoCard.cshtml" model="Model.Patient" />

        @* Card: Contact details *@
        <partial name="_ContantDetailsCard.cshtml" model="Model.Patient.AddressBook" />
    </div>

    @*Right Column*@
    <div id="ProfileRightColumn" class="col-md-8 col-lg-9">

        <div id="TabbedContainerDiv" class="row col-12" style="min-height:300px;">
            <div class="col-auto">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <i class="fal fa-address-card fs-xl"></i>
                        <span class="hidden-sm-down ml-1"> Summary</span>
                    </a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <i class="fal fa-file-medical-alt fs-xl"></i>
                        <span class="hidden-sm-down ml-1"> Prescription</span>
                    </a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <i class="fal fa-first-aid fs-xl"></i>
                        <span class="hidden-sm-down ml-1"> Lab Results</span>
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <i class="fa fa-comment fs-xl"></i>
                        <span class="hidden-sm-down ml-1"> Notes</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="tab-content" id="v-pills-tabContent">
                    @* SummaryTabNavDiv *@
                    <div class="SummaryTabNavDiv tab-pane fade  active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                        <partial name="_PatientClinicalInfo.cshtml" model="Model.ClinicalInfo" />

                    </div>

                    @* PrescriptionsTabNavDiv *@
                    <div class="PrescriptionsTabNavDiv tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <partial name="_PatientPrescriptionList.cshtml" model="Model.PrescriptionList" />

                    </div>

                    @* Lab Results *@
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <h3>
                            Lab Results
                        </h3>
                        @* Lab Results *@
                        <div class="col-12 mt-3">
                            <partial name="_PatientLabResults.cshtml" />
                        </div>

                    </div>

                    @* Notes *@
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="col-12 mt-3">
                            <partial name="_PatientPrescriptionNotes.cshtml" />
                        </div>

                    </div>
                </div>
            </div>
        </div> @*End: TabbedContainerDiv*@

        @* New Prescription *@
        <div class="col-12 mt-3">
            <div class="card m-auto border">
                <div class="card-header">
                    New Prescription
                </div>
                <div class="card-body">
                    <div class="py-3">
                        <form id="NewPrescriptionForm" formaction="/" method="post">
                            <input type="hidden" id="Id" name="Id" value="1">
                            <button id="NewPrescriptionSubmitButton" 
                                    class="btn btn-primary btn-mdwaves-effect waves-themed" 
                                    data-patient-id="1" data-toggle="tooltip" data-placement="right" title="View" 
                                    formaction="/Doctor/Prescription/Create">
                                <i class="fa fa-pencil-square-o"></i> New Prescription
                            </button>
                        </form>
                    </div>

                    <h5 class="card-title">New Prescription details here..</h5>

                </div>

            </div>
        </div>


        <div class="form-row">

            <div class="col-12">


                @* Card: Ailment History *@
                <div class="card-deck mt-3 d-none">
                    <div class="card">
                        <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
                            <!-- we wrap header title inside a span tag with utility padding -->
                            <div class="card-title text-white"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Ailment History
                                @*<a href="#" class="btn btn-primary btn-lg btn-icon waves-effect waves-themed float-right" role="button">
                                        <i class="fal fa-edit"></i>
                                    </a>*@
                            </h5>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    High Pressure
                                </li>
                                <li class="list-group-item">
                                    Diabetes
                                </li>
                                <li class="list-group-item">
                                    Allergy
                                </li>
                                <li class="list-group-item">
                                    Hayfever
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 7 days ago</small>
                        </div>
                    </div>

                    @*Current Medication*@
                    <div class="card">
                        <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
                            <!-- we wrap header title inside a span tag with utility padding -->
                            <div class="card-title text-white"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Current medication
                                @*<a href="#" class="btn btn-primary btn-lg btn-icon waves-effect waves-themed float-right" role="button">
                                        <i class="fal fa-edit"></i>
                                    </a>*@
                            </h5>
                            <table id="dt-CurrentMedicationTable" class="table table-hover table-striped w-100 dataTable dtr-inline" role="grid" aria-describedby="dt-basic-example_info">
                                <thead class="d-none">
                                    <tr role="row">
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row">
                                        <td style="width:50px;"><i class="fal fa-medkit"></i></td>
                                        <td>Loratidine 10 mg</td>
                                        <td>Daily: 1</td>
                                        <td class="text-right">01/05/2020</td>
                                    </tr>
                                    <tr role="row">
                                        <td style="width:50px;"><i class="fal fa-medkit"></i></td>
                                        <td>Gaviscon</td>
                                        <td>Daily: 3</td>
                                        <td class="text-right">01/05/2020</td>
                                    </tr>
                                    <tr role="row">
                                        <td style="width:50px;"><i class="fal fa-medkit"></i></td>
                                        <td>Ranitidine 10mg</td>
                                        <td>Daily: 2</td>
                                        <td class="text-right">01/05/2020</td>
                                    </tr>
                                    <tr role="row">
                                        <td style="width:50px;"><i class="fal fa-medkit"></i></td>
                                        <td>Dulcolox</td>
                                        <td>Daily: 2</td>
                                        <td class="text-right">01/05/2020</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 1 month ago</small>
                        </div>
                    </div>

                </div>

            </div>
            @*Notes*@


        </div>
    </div>

</div>

<div class="w-100"></div>

@*Following is a hidden div*@
<div class="accordion accordion-outline d-none" id="js_demo_accordion-3">
    <div class="card">
        <div class="card-header">
            <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-3a" aria-expanded="false">
                <i class="fal fa-file-medical-alt width-2 fs-xl"></i>
                Medical Records&nbsp; <span class="badge badge-primary badge-pill">7</span>
                <span class="ml-auto">
                    <span class="collapsed-reveal">
                        <i class="fal fa-minus fs-xl"></i>
                    </span>
                    <span class="collapsed-hidden">
                        <i class="fal fa-plus fs-xl"></i>
                    </span>
                </span>
            </a>
        </div>
        <div id="js_demo_accordion-3a" class="collapse" data-parent="#js_demo_accordion-3" style="">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-3b" aria-expanded="false">
                <i class="fal fa-video width-2 fs-xl"></i>
                Video logs
                <span class="ml-auto">
                    <span class="collapsed-reveal">
                        <i class="fal fa-minus fs-xl"></i>
                    </span>
                    <span class="collapsed-hidden">
                        <i class="fal fa-plus fs-xl"></i>
                    </span>
                </span>
            </a>
        </div>
        <div id="js_demo_accordion-3b" class="collapse" data-parent="#js_demo_accordion-3">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-3c" aria-expanded="false">
                <i class="fal fa-first-aid width-2 fs-xl"></i>
                Medical history &nbsp; <span class="badge badge-primary badge-pill">12</span>
                <span class="ml-auto">
                    <span class="collapsed-reveal">
                        <i class="fal fa-minus fs-xl"></i>
                    </span>
                    <span class="collapsed-hidden">
                        <i class="fal fa-plus fs-xl"></i>
                    </span>
                </span>
            </a>
        </div>
        <div id="js_demo_accordion-3c" class="collapse" data-parent="#js_demo_accordion-3" style="">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>