<!-- _ProfilePhotoCard.cshtml -->
<div id="PatientInfoCard" class="card mb-g rounded-top ">
    <div class="row no-gutters row-grid">
        <div class="col-12">
            <div class="d-flex flex-column align-items-center justify-content-center p-4">
                <img src="~/images/demo/avatars/avatar-patient-image.jpg" class="rounded-circle shadow-2 img-thumbnail" style="width:150px;" alt="">
                <h5 class="mb-0 fw-700 text-center mt-3">
                    Shawkat Osman<br />শওকত ওসমান 
                    <small class="text-muted mb-0">Allergy</small>
                </h5>

            </div>
        </div>
        <div class="col-6">
            <div class="text-center py-3">
                <h5 class="mb-0 fw-700">
                    7
                    <small class="text-muted mb-0">Medications</small>
                </h5>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center py-3">
                <h5 class="mb-0 fw-700">
                    5
                    <small class="text-muted mb-0">Medical Tests</small>
                </h5>
            </div>
        </div>


    </div>
</div>