
@{
    ViewData["Title"] = "Index";
}

<h1>Patient Profile</h1>


<h4>Shared Patient Profile- Doctor / Hospital / Patient- same details view</h4>

<div class="card">
    @await Html.PartialAsync("_patientProfile")    
</div>