<!-- _ExaminationModal.cshtml -->

@using Pas.Service.Interface;
@using Pas.Common.Enums;

@inject IExaminationService _examinationService

@model Boolean

@{
    var showGynae = Model;
    var examinationCategory = new SelectList(await _examinationService.GetCategories(showGynae), "Id", "Name");
    var defaultExamItems = new SelectList(_examinationService.GetItems(1), "Id", "Name");
}

<div id="ExaminationModalPopup" class="modal fade" tabindex="-1" role="dialog" aria-label="Patient Examination Modal Popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info font-weight-bold">
                    <i class="fal fa-stethoscope mr-2"></i>On Examination
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ExaminationItemEntryDiv" class="form-row col-12">
                    <div id="ExaminationCategoryDiv" class="col-5">
                        <label class="" for="ExaminationCategorySelect">System</label>
                        @Html.DropDownList("ExaminationCategorySelect", examinationCategory,
                               new
                                    {
                                   id = "ExaminationCategorySelect",
                                   @class = "form-control exam-option-category",
                                   size = "7"
                               })

                    </div>
                    <div id="ExaminationItemDiv" class="col-7">
                        <label class="" for="ExminationItemsSelect">Points</label>

                        @Html.DropDownList("ExminationItemsSelect", defaultExamItems,
                                new
                                    {
                                   id = "ExminationItemsSelect",
                                   @class = "form-control exam-option-category",
                                   size = "7"
                               })

                    </div>
                </div>

                <div id="ExaminationSubItemOptionsDiv" class="d-flex flex-wrap">
                    @* Here we will dump the SubItem options for a ExamItem, ie: Gynae-> 'P/V' Category => Membrane : intact / ruptured *@
                </div>

                <div class="col-12 form-row mt-2">
                    <label class="col-2" for="ExaminationFindingInput">Findings:</label>
                    <div class="col-10">
                        <textarea id="ExaminationFindingInput" class="form-control"
                                  aria-label="Examination findings"
                                  placeholder="Examination findings" rows="2" maxlength="100"></textarea>

                        <div class="error-feedback text-danger invisible">
                            Please select System/Points and enter the findings.
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-2">

                    <input type="hidden" id="ExaminationPointIdInput" value="" />
                    <input type="hidden" id="ExaminationPointTextInput" value="" />

                    <button id="ExaminationItemAddButton" type="button" class="btn btn-primary float-right">
                        <i class="fal fa-notes-medical fa-lg mr-2"></i>
                        Add
                    </button>
                </div>

            </div>


            <div class="modal-footer">
                <div id="ExaminationItemAddedAlert" class="alert alert-info" role="alert">
                    Examintion item is added to the prescription
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>