@using Pas.Service.Interface
@using Pas.Common.Enums
@inject IDrugService DrugService

@{

    var intakePattern = await DrugService.ListAllIntakePatterns();
    var intakePatternSource = new SelectList(intakePattern, "Id", "Pattern");

    var modeOfDeliveries = await DrugService.LisAllModeOfDeliveries();
    var modeOfDeliverySource = new SelectList(modeOfDeliveries, "Id", "Name");
}



<!--    _NewDrugDoseTemplate    -->
<div id="NewDrugDoseTemplatePopupDiv">
    <div class="modal fade" id="NewDrugDoseTemplatePopupModal" tabindex="-1" role="dialog" aria-label="New Drug Dose Template Popup" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="NewDrugDoseTemplateTitleSpan" class="text-info"></span>: New Dose Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <!--    DosageAndDeliveryRowDiv -->
                    <!-- DrugIntakeRadioOption   -->
                    <div id="DrugIntakeypeDiv" class="form-group row col-12 mb-3">
                        <label for="DrugIntakeRadioOption" class="col-sm-2 form-label">Intake Type</label>
                        <div class="form-row col-sm-10">

                            @Html.DropDownList("ModeOfDeliverySelectList", modeOfDeliverySource, "Select a pattern",
                                new { id = "ModeOfDeliverySelectList", @class = "form-control" })

                            <div class="btn-group btn-group-toggle d-none invisible" data-toggle="buttons">
                                <label class="btn btn-primary waves-effect waves-themed btn-drug-template active flex-column">
                                    <input type="radio" name="DrugIntakeRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="1"
                                           id="DrugIntakeTablet" checked="checked"> Tablet
                                </label>
                                <label class="btn btn-primary waves-effect waves-themed btn-drug-template flex-column">
                                    <input type="radio" name="DrugIntakeRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="3"
                                           id="DrugIntakeCaplet"> Caplet
                                </label>
                                <label class="btn btn-primary waves-effect waves-themed btn-drug-template flex-column">
                                    <input type="radio" name="DrugIntakeRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="2"
                                           id="DrugIntakeCapsue"> Capsule
                                </label>
                                <div class="col-lg-12 w-100"></div>
                                <label class="btn btn-primary waves-effect waves-themed btn-drug-template flex-column">
                                    <input type="radio" name="DrugIntakeRadioOption" class="drug-intake-radio-option"
                                           value="4"
                                           id="DrugIntakeSyrup"> Syrup
                                </label>
                                <label class="btn btn-primary waves-effect waves-themed btn-drug-template flex-column">
                                    <input type="radio" name="DrugIntakeRadioOption" class="drug-intake-radio-option"
                                           value="6"
                                           id="DrugIntakemulgel"> Emulgel
                                </label>
                                <label class="btn btn-primary waves-effect waves-themed btn-drug-template flex-column">
                                    <input type="radio" class="drug-intake-radio-option" name="DrugIntakeRadioOption" id="DrugIntakePowder"> Powder
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Drug Strength, ie: 10mg / 20mg   -->
                    <div id="DrugStrengthRowDiv" class="form-row col-12 mb-3">
                        <label for="DrugStrengthInputOption_mcg" class="col-sm-2 form-label">Strength</label>
                        <div class="form-row col-sm-10">

                            <div class="input-group">
                                <input type="number" class="form-control" aria-label="Text input with radio button" id="DrugStrengthInput">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <!-- Drug strength- Solid category -->
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="DrugStrengthInputOption_mcg" name="DrugStrengthInputRadio"
                                                   class="custom-control-input"
                                                   value="mcg">
                                            <label class="custom-control-label" for="DrugStrengthInputOption_mcg">mcg</label>
                                        </div>
                                        <div class="custom-control custom-radio ml-2">
                                            <input type="radio" id="DrugStrengthInputOption_mg" name="DrugStrengthInputRadio"
                                                   class="custom-control-input"
                                                   value="mg">
                                            <label class="custom-control-label" for="DrugStrengthInputOption_mg">mg</label>
                                        </div>
                                        <div class="custom-control custom-radio ml-2">
                                            <input type="radio" id="DrugStrengthInputOption_gm" name="DrugStrengthInputRadio"
                                                   class="custom-control-input"
                                                   value="gram">
                                            <label class="custom-control-label" for="DrugStrengthInputOption_gm">gram</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 help-block">Drug Strength, ie: 10mg</div>
                        </div>
                    </div>

                    <!-- Dose Quantity -->
                    <div id="DoseSelectionDiv" class="form-row col-12 mb-3">
                        <label for="DrugDoseOptionOne" class="col-sm-2 form-label">Dose</label>
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-info waves-effect waves-themed active">
                                    <input type="radio" name="DrugDoseQtyRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="50"
                                           id="DrugIntakeTablet"> Half
                                </label>
                                <label class="btn btn-info waves-effect waves-themed">
                                    <input type="radio" name="DrugDoseQtyRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="1"
                                           id="DrugDoseOptionOne" checked="checked"> One
                                </label>
                                <label class="btn btn-info waves-effect waves-themed">
                                    <input type="radio" name="DrugDoseQtyRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="2"
                                           id="DrugIntakeCaplet"> Two
                                </label>
                                <label class="btn btn-info waves-effect waves-themed">
                                    <input type="radio" name="DrugDoseQtyRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="3"
                                           id="DrugIntakeCapsue"> Three
                                </label>


                            </div>
                            <span class="help-block">Tablet</span>
                        </div>
                     </div>

                    <!-- Daily Frequence -->
                    <div class="form-row col-12 mb-3">
                        <label for="DailyFrequence" class="col-sm-2 form-label">Frequency</label>
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-success waves-effect waves-themed active">
                                    <input type="radio" name="DoseFrequencyRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="1"
                                           id="DailyFrequency1D" checked="checked"> One
                                </label>
                                <label class="btn btn-success waves-effect waves-themed">
                                    <input type="radio" name="DoseFrequencyRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="2"
                                           id="DailyFrequency2Times"> Two
                                </label>
                                <label class="btn btn-success waves-effect waves-themed">
                                    <input type="radio" name="DoseFrequencyRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="3"
                                           id="DailyFrequency3Times"> Three
                                </label>
                                <label class="btn btn-success waves-effect waves-themed">
                                    <input type="radio" name="DoseFrequencyRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="4"
                                           id="DailyFrequency4Times"> Four
                                </label>

                            </div>
                            <span class="help-block">Times a day</span>
                        </div>

                    </div>

                    <!-- Duration Days -->
                    <div class="form-row col-12 mb-3">
                        <label for="DurationDays" class="col-sm-2 form-label">Duration</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control form-control-sm" id="DurationDays"
                                   data-toggle="tooltip" data-placement="top" title="Enter 0 as TBC"
                                   placeholder="number of days">
                            <span class="help-block">Recommended days of course; 0 = TBC</span>
                        </div>

                    </div>


                    <!-- Intake Pattern  -->
                    <div class="form-row col-12 mb-3">
                        <label for="IntakePatternSourceSelect" class="col-sm-2 form-label">Pattern</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("IntakePattern", intakePatternSource, "Select a pattern",
                                new { id = "IntakePatternSourceSelect", @class = "form-control" })
                        </div>

                    </div>

                    <!-- Example of Dosage instruction  -->
                    <div class="form-row col-12">
                        <label for="QuantityInput" class="col-sm-2 form-label"></label>
                        <div class="col-sm-12">
                            <div class="alert alert-success">Example: <br /><span id="NewDrugDoseTemplateExampleSpan">Paracetemol Tablet</span> 10mg (1 + 0 + 0 + 1) for 14 Days</div>
                        </div>

                    </div>



                    <div class="modal-footer">
                        <button id="CreateBrandDoseTemplateButton" type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>