
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- _PatientVitals -->
<div id="PatientVitalsInfoDiv" class="bg-white border rounded mt-2" >
    <input type="hidden" Id="VitalsHistoryId" value="0" />
    <table class="table table-sm w-100">
        <tr class="text-center">
            <th><i class="fas fa-temperature-high mr-1 fa-lg"></i>Temperature</th>
            <th><i class="fas fa-wave-square mr-1 fa-lg"></i>Pulse</th>
            <th>Blood Pressure</th>
            <th><i class="fas fa-weight mr-1 fa-lg"></i>Weight</th>
            @*<th><i class="fas fa-ruler-combined mr-1 fa-lg"></i>Height</th>*@
            <th></th>
        </tr>
        <tr class="font-weight-bolder text-info text-center">
            <td class="vital-temperature"></td>
            <td class="vital-pulse">-</td>
            <td class="vital-pressure">-</td>
            <td class="vital-weight">-</td> 
            @*<td class="vital-height">-</td>*@            
            <td>
                <button id="PatientVitalEntryModalButton" type="button" class="btn btn-primary waves-effect waves-themed"
                        data-toggle="tooltip" data-placement="top" title="Enter the vitals record">
                    <i class="fal fa-check-square fa-lg"></i>
                </button>
            </td>            
        </tr>
    </table>
</div>