<!--    _PrescriptionRightColumn    -->
<h4 class="text-center text-info">Prescription item preview</h4>

<!-- Header row -->
<div class="form-row col-12 border-bottom  mb-2 font-weight-bold text-primary"  >
    <div class="col-1">#</div>
    <div class="col-2">Type</div>
    <div class="col-5">Name</div>
    <div class="col-3">Duration</div>
    <div class="col-1"></div>
</div>
<div class="form-row col-12 mb-2">
    <div class="col-1">1</div>
    <div class="col-2">Tablet</div>
    <div class="col-5">
        Migraleave Pain relief 10mg<br />(1 + 0 + 1)
    </div>
    <div class="col-3">14 Days</div>
    <div class="col-1">
        <a href="#" class="btn btn-primary"
           data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove item">
            <i class="fal fa-trash-alt fa-lg"></i>
        </a>
    </div>
</div>
<div class="form-row col-12 mb-2">
    <div class="col-1">2</div>
    <div class="col-2">Capsule</div>
    <div class="col-5">Something new
    </div>
    <div class="col-3">Continue</div>
    <div class="col-1">
        <a href="#" class="btn btn-primary"
           data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove item">
            <i class="fal fa-trash-alt fa-lg"></i>
        </a>
    </div>
</div>

<div class="w-100 d-none invisible">
    <table class="table table table-hover table-striped w-100 ">
        <tr>
            <th class="col-1">asas#</th>
            <th class="col-2">Type</th>
            <th class="col-5">Name</th>
            <th class="col-3">Duration</th>
            <th class="col-1">-</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Tablet</td>
            <td>
                Migraleave Pain relief 10mg<br />
                (1 + 0 + 1)
            </td>
            <td>7 days</td>
            <td>
                <a href="#" class="btn btn-primary"
                   data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove item">
                    <i class="fal fa-trash-alt fa-lg"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Capsule</td>
            <th>
                Metformin 15mg<br />
                (1 + 0 + 1)
            </th>
            <td>TBC</td>
            <td>
                <a href="#" class="btn btn-primary"
                   data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove item">
                    <i class="fal fa-trash-alt fa-lg"></i>
                </a>
            </td>
        </tr>

    </table>

</div>