<!--    _PrescriptionSummaryAndPlan -->

    <div id="PrescriptionSummaryNotesDiv" class="form-row col-12 mt-1 d-none">
        <div class="form-group row col-12">
            <label for="PrescriptionNotesInput" class="col-sm-2 form-label">Overall Notes</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="PrescriptionNotesInput" rows="3" placeholder="Overall summary / treatment notes"></textarea>
            </div>
        </div>

        <div class="form-group row col-12">
            <div class="col-sm-2">Checkbox</div>
            <div class="col-sm-10">
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="FollowUpVisitCheckbox">
                    <label class="custom-control-label" for="FollowUpVisitCheckbox">Follow up Visit</label>
                </div>
            </div>
        </div>

        <div id="NavigationButtonsDiv" class="col-12 mt-3">
            <button type="button" id="FinishAndPrintButton" class="btn btn-primary waves-effect waves-themed float-left">Finish &amp; Print</button>
            <button type="button" id="PreviousStepButton" class="btn btn-primary waves-effect waves-themed mt-2 float-right">Back: Drug item entry</button>
        </div>

        <div class="col-12">
            
        </div>
    </div>