@using Pas.Service.Interface
@using Pas.Common.Enums

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject IDrugService DrugService

@{
    //var drugList = await DrugService.ListAll();
    //var indicationList = await DrugService.ListAllIndicationTypes();
}

    <div id="PrescriptionFormDiv" class="form-row col-12 ml-2 bg-white border rounded p-3">
        <div id="DrugAndBrandsRowDiv" class="form-row col-md-6 col-sm-12">
            <div id="PrescriptionItemEntryTopDiv" class="">
                <div class="col-12">

                    <!--    Drug: Generic List  -->
                    <div class="form-group row mb-2">
                        <label for="DrugListSelect" class="col-sm-2 form-label">Drug</label>
                        <div class="col-sm-10 pl-0">
                            @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                            <select id="DrugListSelect" class="form-control" size="10">
                                <option value="" selected>Select a Drug</option>
                                <option value="value">text</option>
                                <option value="value">wewew</option>
                                <option value="value">dsds</option>
                                <option value="value">zdsf</option>
                                <option value="value">xcs</option>
                                <option value="value">vdghg</option>
                                <option value="value">yuyd</option>
                                <option value="value">dfdf</option>
                            </select>
                        </div>
                    </div>

                    <!--    Drug: Brand List  -->
                    <div class="form-group row">
                        <label for="BrandListSelect" class="col-sm-2 form-label">Brand</label>
                        <div class="col-sm-10 pl-0">
                            @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                            <select id="BrandListSelect" class="form-control" size="4">
                                <option value="value">Generic</option>
                                <option value="value">GSK Brand</option>
                                <option value="value">pFizer</option>
                                <option value="value">Rinen</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--    DosageAndDeliveryRowDiv -->
                <div id="DosageAndDeliveryRowDiv" class="form-row col-12 mt-3">
                    <div class="form-group row col-12 mb-3">
                        <label for="DrugIntakeRadioOption" class="col-sm-2 form-label">Intake Type</label>
                        <div class="form-row col-sm-10">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-info waves-effect waves-themed active">
                                    <input type="radio" name="DrugIntakeRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="1"
                                           id="DrugIntakeTablet" checked="checked"> Tablet
                                </label>
                                <label class="btn btn-info waves-effect waves-themed">
                                    <input type="radio" name="DrugIntakeRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="3"
                                           id="DrugIntakeCaplet"> Caplet
                                </label>
                                <label class="btn btn-info waves-effect waves-themed">
                                    <input type="radio" name="DrugIntakeRadioOption"
                                           class="drug-intake-radio-option drug-intake-solid"
                                           value="2"
                                           id="DrugIntakeCapsue"> Capsule
                                </label>
                                <label class="btn btn-info waves-effect waves-themed">
                                    <input type="radio" name="DrugIntakeRadioOption" class="drug-intake-radio-option"
                                           value="4"
                                           id="DrugIntakeSyrup"> Syrup
                                </label>
                                <label class="btn btn-info waves-effect waves-themed">
                                    <input type="radio" name="DrugIntakeRadioOption" class="drug-intake-radio-option"
                                           value="6"
                                           id="DrugIntakemulgel"> Emulgel
                                </label>
                                <label class="btn btn-info waves-effect waves-themed">
                                    <input type="radio" class="drug-intake-radio-option" name="DrugIntakeRadioOption" id="DrugIntakePowder"> Powder
                                </label>

                            </div>
                        </div>
                    </div>


                    <div class="form-group row col-12">

                        <!-- Drug Strength, ie: 10mg / 20mg   -->
                        <div id="DrugStrengthRowDiv" class="form-row col-12">
                            <label for="DrugStrengthInputOption_mcg" class="col-sm-2 form-label">Strength</label>
                            <div class="form-row col-sm-10">

                                <div class="input-group">
                                    <input type="number" class="form-control" aria-label="Text input with radio button" id="DrugStrengthInput">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <!-- Drug strength- Solid category -->
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="DrugStrengthInputOption_mcg" name="DrugStrengthInputRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="DrugStrengthInputOption_mcg">mcg</label>
                                            </div>
                                            <div class="custom-control custom-radio ml-2">
                                                <input type="radio" id="DrugStrengthInputOption_mg" name="DrugStrengthInputRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="DrugStrengthInputOption_mg">mg</label>
                                            </div>
                                            <div class="custom-control custom-radio ml-2">
                                                <input type="radio" id="DrugStrengthInputOption_gm" name="DrugStrengthInputRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="DrugStrengthInputOption_gm">gram</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 help-block">Drug Strength, ie: 10mg</div>
                            </div>
                        </div>

                        <!-- Quantity / Duration -->
                        <div class="form-row col-12 mt-3">
                            <div class="form-group form-row col-12">
                                <label for="QuantityInput" class="col-sm-2 form-label">Quantity / Duration</label>
                                <div class="col-sm-2">
                                    @Html.DropDownList("QuantityPerDose",
                                        Html.GetEnumSelectList<DoseSolid>(),
                                        "Select Dose", new
                                             {
                                                 id = "DoseSolidSelect",
                                                 @class = "form-control",
                                        @dataToggle = "tooltip",
                                                 @dataPlacement = "top",
                                                 @title = "pcs or spoons"
                                             })

                                    @*<select id="QuantityPerDose" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(DoseSolid))">
                                <option selected="selected" value="">Please select</option>
                            </select>*@

                                    <span class="help-block">Dose quantity</span>
                                </div>

                                <div class="col-sm-4">
                                    <input type="number" class="form-control form-control-sm" id="QuantityPerDay" placeholder="Quantity">
                                    <span class="help-block">Dose per day</span>
                                </div>

                                <div class="col-sm-4">
                                    <input type="number" class="form-control form-control-sm" id="DurationDays"
                                           data-toggle="tooltip" data-placement="top" title="Enter 0 as TBC"
                                           placeholder="number of days">
                                    <span class="help-block">Recommended days of course; 0 = TBC</span>
                                </div>
                            </div>
                        </div>

                        <!-- Is Related to Meal ? -->
                        <div class="form-row col-12 mt-3">
                            <div class="form-group form-row col-12">
                                <label for="RelatedToMealCheckBox" class="col-sm-2 form-label">Related to Meal?</label>

                                <div class="form-group form-row col-10">
                                    <!-- Related to Meal -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">

                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="RelatedToMealCheckBox">
                                                    <label class="custom-control-label" for="RelatedToMealCheckBox">No</label>
                                                </div>
                                            </div>
                                            <div class="input-group-text text-success">
                                                <i class="fal fa-utensils fa-lg"></i>
                                            </div>
                                        </div>
                                        <div id="MealsBeforeAfterOptionsDiv" class="btn-group btn-group-toggle ml-2 invisible" data-toggle="buttons">
                                            <label class="btn btn-info waves-effect waves-themed active">
                                                <input type="radio" name="RelatedToMealsOptions"
                                                       value="1"
                                                       id="RelatedToMealsYesOption" checked="checked"> Before
                                            </label>
                                            <label class="btn btn-info waves-effect waves-themed">
                                                <input type="radio" name="RelatedToMealsOptions"
                                                       value="2"
                                                       id="RelatedToMealsNoOption"> After
                                            </label>

                                        </div>
                                        @*<input type="text" class="form-control" aria-label="text input with checkbox" id="checkbox-group-2">*@
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--    Additional instruction and Save / Next Buttons  -->
                        <div id="AdditionalInstructionDiv" class="form-row col-12 mt-3">
                            <div class="form-group row col-12">
                                <label for="DrugNotes" class="col-sm-2 form-label">Additional instruction</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" id="DrugNotes" rows="3"
                                           placeholder="Extra tips/notes for this Drug item" />

                                    <button type="button" id="AddDrugItemButton" class="btn btn-primary waves-effect waves-themed mt-2 float-left">Add this Drug</button>
                                    <button type="button" id="NextStepSummaryButton" class="btn btn-primary waves-effect waves-themed mt-2 float-right">Next: Summary and Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            @await Html.PartialAsync("_PrescriptionSummaryAndPlan")
            
            

        </div> <!-- end of DrugAndBrandsRowDiv -->


        <div id="PrescriptionDrugTable" class="form-row col-md-6 col-sm-12">
            <!-- Prescription Right COlumn - showing currently added Drug items in a table -->
            @await Html.PartialAsync("_PrescriptionRightColumn")

        </div>

    </div>

<hr />
