@*@model Pas.Web.ViewModels.PrescriptionConfirmSaveVM*@
@model Pas.Web.ViewModels.PrescriptionCreateVM

@{
    ViewData["Title"] = "Prescription Create";
}

<h1>Doctor- Prescription Create</h1>

<form id="PrescriptionCreateForm" action="Create" method="post">
    @Html.AntiForgeryToken()

    <input type="submit" name="submitCreateForm" value="Submit" />
</form>

<div id="panel-9" class="panel">
    <div class="panel-hdr">
        <h2>
            Form <span class="fw-300">elements</span>
        </h2>
        <div class="panel-toolbar">
            <div class="custom-control d-flex custom-switch">
                <input id="eventlog-switch" type="checkbox" class="custom-control-input" checked="checked">
                <label class="custom-control-label fw-500" for="eventlog-switch"></label>
            </div>
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <div class="panel-tag">
                You can add form elements to <code>.panel-hdr</code> and any other parts of the <code>.panel</code>
            </div>
        </div>
        <!-- panel footer with utility classes -->
        <div class="panel-content d-flex py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="demoCheck">
                <label class="custom-control-label" for="demoCheck">Checkbox</label>
            </div>
            <div class="form-check-inline ml-auto">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">1</label>
                </div>
            </div>
            <div class="form-check-inline">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">2</label>
                </div>
            </div>
            <div class="form-check-inline mr-0">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" disabled="disabled">
                    <label class="custom-control-label" for="customRadio3">Disabled</label>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
        </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="radio" aria-label="Radio button for following text input">
        </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with radio button">
</div>

<hr />

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Options</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>

<div class="input-group mb-3">
    <select class="custom-select" id="inputGroupSelect02">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect02">Options</label>
    </div>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
    <select class="custom-select" id="inputGroupSelect03">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>

<div class="input-group">
    <select class="custom-select" id="inputGroupSelect04">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
</div>