@*@model Pas.Web.ViewModels.PrescriptionConfirmSaveVM*@
@model Pas.Web.ViewModels.PrescriptionCreateVM

@{
    ViewData["Title"] = "Prescription Create";
    //var patient = Model.PatientDetails;
}

<div class="alert alert-info mb-2 col-12 h3">
    <i class="fal fa-file-prescription fa-2x"></i>
    New Prescription
</div>

@await Html.PartialAsync("_PrescriptionHeader", @Model.PatientDetails)

@await Html.PartialAsync("_PrescriptionItemEntry", @Model.Id)

@await Html.PartialAsync("_NewDrugDoseTemplate")

@await Html.PartialAsync("_AddNewDrugBrand")

@await Html.PartialAsync("_AddNewAdviseInstruction")

@await Html.PartialAsync("_PatientVitalsModal")

<form id="PrescriptionCreateForm" action="Create" method="post">
    @Html.AntiForgeryToken()
</form>

@section Scripts{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script src="~/js/prescription/prescription-create.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}